@import '~antd/lib/style/themes/default.less';

.main {
  width: 400px;
  margin: 200px auto;
  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .register {
      float: right;
    }
  }
}

.verifCon {
  width: 100px;
  height: 45px;
  background-size: 124px 50px;
  border-radius: 5px;
}

.reload{
  line-height: 38px;
  width: 35px;
  padding-left: 12px;
  font-size: 20px;
}
